---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title="Welcome to Astro.">
	<div class="container px-4 lg:px-0 lg:max-w-6xl mx-auto my-6">
		

		<div class="bg-white p-5 ">
			<h2>Accordion</h2>			
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aut labore exercitationem, illum, aliquam ex eius facilis nulla asperiores, laboriosam sapiente. Doloremque, quaerat veniam. Consectetur, voluptate. Nulla, illum eius. Hic.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aut labore exercitationem, illum, aliquam ex eius facilis nulla asperiores, laboriosam sapiente. Doloremque, quaerat veniam. Consectetur, voluptate. Nulla, illum eius. Hic.</p>
		</div>
	</div>
	
</Layout>

